/* CSS HEX */
:root {
    --color: 0, 0%;
    --midnight-blue: #070b51ff;
    --satin-sheen-gold: #bd9523ff;
    --lightText: hsl(var(--color), 0%);
    --darkText: hsl(var(--color), 100%);
    --amazon: #417b5aff;
    --mountbatten-pink: #916c80ff;
    --topBackground: hsl(var(--color), 90%);
    --middleBackground: hsl(var(--color), 80%);
    --bottomBackground: hsl(var(--color), 70%);
    --borderColor: hsl(var(--color), 75%)
}


#userbar li.dropmenu ul.drop,
ul.drop {
    background: hsl(var(--color), 100%, 90%);
    border-top: 0;
    z-index: 99;
    padding: 0px;
    display: none;
    right: auto;
    position: absolute;
    left: auto;
    border-radius: 0 0 0px 0px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.58);
}

.popupAlert {
    border: 5px solid hsl(var(--color), 20%);
    border-bottom: 0;
    background: var(--borderColor);
    border-radius: 4px 4px 0 0;
    color: var(--lightText);
}

.popupAlert .pformstrip {
    background: inherit;
    border-bottom: 5px solid hsl(var(--color), 20%);
}

/* CSS Button styles */
.cssbutton,
/* select[class="forminput"], */
input[class="forminput"]:not([type="text"]) {
    background: url("https://github.com/Simulation-Soccer-League/ssl-forum/raw/main/images/cssbuttonwhite.png") repeat-x scroll center top var(--topBackground);
    background-size: auto 100%;
    border-color: var(--topBackground);
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px 1px 0;
    box-shadow: 0 1px 0 0 var(--borderColor) inset, 0 2px 3px rgba(0, 0, 0, 0.2);
    color: var(--lightText);
    cursor: pointer;
    display: inline-block;
    font: 300 12px/30px "Gotham", sans-serif;
    font-weight: 500;
    height: 30px;
    min-width: 125px;
    padding: 0 10px;
    text-align: center;
    text-shadow: 0 -1px 0 hsl(var(--color), 50%);
}

.maintitle,
.popupBox-content .maintitle2 {
    background: url("https://github.com/Simulation-Soccer-League/ssl-forum/raw/main/images/topicHeaderWhite.png") repeat-x scroll center top var(--darkText);
    color: var(--lightText);
    font-family: "Gotham", sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 10px 11px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-color: var(--borderColor);
    border-style: solid;
    border-width: 1px 1px 0;
    margin: 0;
}

#mini-profile {
    text-align: center;
    margin: -11px 5px;
    font-size: 13px;
    color: hsl(var(--color), 25%);
}

.post-normal table {
    padding: 9px;
    background-color: hsl(var(--color), 82%);
}

.postlinksbar {
    font-size: small;
    padding: 0 10px;
    background-color: hsl(var(--color), 82%);
}

.sub-header {
    background-color: hsl(var(--color), 85%);
}

/* Tables in posts */
table[class="postTable"] {
    padding: 0px;
    background-color: hsl(var(--color), 75%);
}