/* CSS HEX */
:root {
    --color: 0, 0%;
    --midnight-blue: #070b51ff;
    --satin-sheen-gold: #bd9523ff;
    --lightText: hsl(var(--color), 100%);
    --darkText: hsl(var(--color), 0%);
    --key: #276BB0;
    --important: #60c689;
    --topBackground: hsl(var(--color), 10%);
    --middleBackground: hsl(var(--color), 20%);
    --bottomBackground: hsl(var(--color), 30%);
    --borderColor: hsl(var(--color), 25%);
}